PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://junaidk0004:80j0VKRC5oNpeM9Q@cluster0.awjtedr.mongodb.net/codathon?retryWrites=true&w=majority&appName=Cluster0

# Clerk Authentication Keys
CLERK_PUBLISHABLE_KEY=pk_test_cmVsZXZhbnQtZGFzc2llLTI2MTkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_nCBLRvAtAnqoRnkoR9L1BlhUN8goJtFl1HWX6R6bPY

# Cloudinary (Configured for Phase 3 PPT uploads)
CLOUDINARY_CLOUD_NAME=dbtqj0xpo
CLOUDINARY_API_KEY=616259346992854
CLOUDINARY_API_SECRET=yEWJUjjF_h5w7FO6wq-o_cHickQ
